#!/usr/bin/make -f

# Exclude source control cruft and Python byte code
export DH_ALWAYS_EXCLUDE := .git:.pyc:.svn

# CDBS Includes
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
# python-distutils.mk
DEB_PYTHON_SYSTEM := pysupport
include /usr/share/cdbs/1/class/python-distutils.mk
