#!/usr/bin/make -f

export DH_ALWAYS_EXCLUDE=.bat:.git:.svn

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk


# Add here any variable or target overrides you need.
